<div class="card shadow-lg p-3 mb-5 bg-body rounded">
  <h2 class="card-header">Resend confirmation instructions</h2>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class:"form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Resend confirmation instructions", class:"btn btn-primary" %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>