<%= render 'search_form' %>

<%= link_to 'Create New Article', new_article_path, class: "btn btn-primary mt-4 mb-4" %>

<button class="collapsible">Your Articles</button>
<div class="content">

<table class="table table-bordered table-sm table-responsive">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Keywords</th>
      <th scope="col" colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td>A<%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.keywords %></td>
        <td><%= link_to 'VIEW', article, class: "btn btn-info btn-sm w-100" %></td>
        <% if current_user.is_student? %>
          <td><%= article.approval_status %></td>
        <% else %>
          <td><%= link_to 'Edit', edit_article_path(article), class: "btn btn-primary btn-sm w-100" %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm w-100" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

</table>
</div>

  
<% if !current_user.is_student? %>
<button class="collapsible">Awaiting Review Articles</button>
<div class="content">

  <table class="table table-bordered table-sm table-responsive">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Keywords</th>
        <th scope="col">Uploaded By</th>
        <th scope="col">Approval status</th>
        <th scope="col">Reviewer1</th>
        <th scope="col">Reviewer2</th>
        <th scope="col">Reviewer3</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @review_arts.each do |article| %>
        <tr>
          <td>A<%= article.id %></td>
          <td><%= article.title %></td>
          <td><%= article.keywords %></td>
          <td><%= article.user.name %></td>
          <td><%= article.approval_status %></td>
          <td><%= article.reviewer1&.name %></td>
          <td><%= article.reviewer2&.name  %></td>
          <td><%= article.reviewer3&.name %></td>
          <td><%= link_to 'VIEW', article, class: "btn btn-info btn-sm w-100" %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>
<button class="collapsible">Reviewed Articles</button>
<div class="content">

  <table class="table table-bordered table-sm table-responsive">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Keywords</th>
        <th scope="col">Uploaded By</th>
        <th scope="col">Approval status</th>
        <th scope="col">Reviewer1</th>
        <th scope="col">Reviewer2</th>
        <th scope="col">Reviewer3</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @approved_articles.each do |article| %>
        <tr>
          <td>A<%= article.id %></td>
          <td><%= article.title %></td>
          <td><%= article.keywords %></td>
          <td><%= article.user.name %></td>
          <td><%= article.approval_status %></td>
          <td><%= article.reviewer1&.name %></td>
          <td><%= article.reviewer2&.name  %></td>
          <td><%= article.reviewer3&.name %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

  </div>
<% end %>