<%= link_to 'New Article', new_article_path %>

<%= render 'search_form' %>

<h1>your Article</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Keywords</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td>a<%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.keywords %></td>
        <% if current_user.is_student? %>
          <td><%= article.approval_status %></td>
        <% else %>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td><%= link_to 'Show', article %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<% if !current_user.is_student? %>

  <h1>Awaiting Review Articles</h1>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Keywords</th>
        <th>Uploaded By</th>
        <th>Approval status</th>
        <th>Reviewer1</th>
        <th>Reviewer2</th>
        <th>Reviewer3</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @review_arts.each do |article| %>
        <tr>
          <td>d<%= article.id %></td>
          <td><%= article.title %></td>
          <td><%= article.keywords %></td>
          <td><%= article.user.name %></td>
          <td><%= article.approval_status %></td>
          <td><%= article.reviewer1&.name %></td>
          <td><%= article.reviewer2&.name  %></td>
          <td><%= article.reviewer3&.name %></td>
          <td><%= link_to 'Show', article %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <h1>Reviewed Articles</h1>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Keywords</th>
        <th>Uploaded By</th>
        <th>Approval status</th>
        <th>Reviewer1</th>
        <th>Reviewer2</th>
        <th>Reviewer3</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @approved_articles.each do |article| %>
        <tr>
          <td>d<%= article.id %></td>
          <td><%= article.title %></td>
          <td><%= article.keywords %></td>
          <td><%= article.user.name %></td>
          <td><%= article.approval_status %></td>
          <td><%= article.reviewer1&.name %></td>
          <td><%= article.reviewer2&.name  %></td>
          <td><%= article.reviewer3&.name %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
<% end %>