<% if !current_user.is_student? %>

  <%= link_to 'New Notification', new_notification_path, class: "btn btn-primary mt-4 mb-4" %>

    <button class="collapsible">Your Notifications</button>
    <div class="content">
      <div class="table-responsive">

        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col">Published Date</th>
              <th scope="col">Regulation</th>
              <th scope="col">Batch</th>
              <th scope="col">Department</th>
              <th scope="col">Course</th>
              <th scope="col" colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @your_notifications.each do |notification| %>
              <tr>
                <td><%= notification.created_at.strftime("%d/%m/%Y") %></td>
                <td><%= notification.title %></td>
                <td><%= notification.regulation&.code %></td>
                <td><%= notification.batch&.name %></td>
                <td><%= notification.department&.code %></td>
                <td><%= notification.course&.code %></td>
                <td><%= link_to 'VIEW', notification, class: "btn btn-info btn-sm w-100" %></td>
                <td><%= link_to 'EDIT', edit_notification_path(notification), class: "btn btn-primary btn-sm w-100" %></td>
                <td><%= link_to 'DESTROY', notification, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm w-100" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  <br>
<% end %>

<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-2">
        <h5>Published Date</h5>
      </div>
      <div class="col">
        <h5>Notifications</h5>
      </div>
      <div class="col-1">
        <h5>Link</h5>
      </div>
    </div>
  </div>
  <div class="card-body">
    <% @notifications&.each do |notification| %>
        <div class="row">
          <div class="col-2">
            <p><%= notification.created_at.strftime("%d-%m-%Y") %></p>
          </div>
          <div class="col">
            <p><%= notification.title %></p>
          </div>
          <div class="col-1">
            <p><%= link_to 'Show', notification, class: "btn btn-outline-info btn-sm w-100" %></p>
          </div>
        </div>
        <hr class="m-2 p-0">
    <% end %>
  </div>
</div>
    