<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <strong>Title</strong>
      </div>
      <div class="col">
        <p><%= @notification.title %></p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <strong>Published at</strong>
      </div>
      <div class="col">
        <p><%= @notification.created_at %></p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <strong>User</strong>
      </div>
      <div class="col">
        <p>
          <%= "#{@notification.user&.name} (#{@notification.user&.role&.name},
          #{@notification.user&.department&.name})" %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <strong>Regulation</strong>
      </div>
      <div class="col">
        <p><%= @notification.regulation&.name %></p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <strong>Batch</strong>
      </div>
      <div class="col">
        <p><%= @notification.batch&.name %></p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <strong>Department</strong>
      </div>
      <div class="col">
        <p><%= @notification.department&.name %></p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <strong>Course</strong>
      </div>
      <div class="col">
        <p><%= @notification.course&.name %></p>
      </div>
    </div>

    <div class="row border rounded border-5 p-2 mb-2 border-opacity-75">
      <div class="col"><%= @notification.content %></div>
    </div>

    <div class="row text-center d-flex m-4">
      <div class="col">
        <%= link_to '< Back', notifications_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
