<%= form_with(model: video) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
        <% video.errors.each do |error| %>
          <div class="alert alert-danger" role="alert">
              <%= error.full_message %>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-2">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field mt-2">
    <%= form.label :content, class: "form-label" %>
    <%= form.rich_text_area :content, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :terabox_video_url, class: "form-label" %>
    <%= form.text_field :terabox_video_url, class: "form-control" %>
  </div>


  <div class="field mt-2">
    <%= form.label :tutorial_id, class: "form-label" %>
    <%= form.collection_select :tutorial_id, current_user.tutorials.all, :id, :title, {}, {class: "form-select"} %>
  </div>

  <div class="field d-none">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, :value => current_user.id %>
  </div>



  <div class="actions">
    <%= form.submit class: "btn btn-success mt-4" %>
  </div>
<% end %>
