<%= link_to 'New Video', new_video_path, class: "btn btn-primary mt-4 mb-4" %>


<table class="table table-bordered table-sm table-responsive">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @your_videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><%= link_to 'VIEW', video, class: "btn btn-info btn-sm w-100" %></td>
        <td><%= link_to 'EDIT', edit_video_path(video), class: "btn btn-warning btn-sm w-100" %></td>
        <td><%= link_to 'DESTROY', video, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm w-100" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
