   <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <%= image_tag('corrospondent.jpeg', class: "w-50 bd-placeholder-img rounded-circle") %>

        <h2 class="fw-normal">CORRESPONDENT</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag('president.png', class: "w-50 bd-placeholder-img rounded-circle") %>

        <h2 class="fw-normal">PRESIDENT</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag('vice_president.jpeg', class: "w-50 bd-placeholder-img rounded-circle") %>

        <h2 class="fw-normal">VICE-PRESIDENT</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-6">
        <%= image_tag('ceo.jpg', class: "w-50 bd-placeholder-img rounded-circle") %>

        <h2 class="fw-normal">CEO</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-6">
        <%= image_tag('principal.jpg', class: "w-50 bd-placeholder-img rounded-circle") %>

        <h2 class="fw-normal">PRINCIPAL</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

