
<% if current_user.is_hod? %>
  <%= link_to 'Create Tutorial', new_tutorial_path, class: "btn btn-primary mt-3 mb-3" %>

  <%= link_to 'Add Videos', videos_path, class: "btn btn-primary mt-3 mb-3" %>

  <button class="collapsible">Your Tutorials</button>
    <div class="content">
      <div class="table-responsive" >
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col" colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @your_tutorials.each do |tutorial| %>
              <tr>
                <td><%= tutorial.title %></td>
                <td><%= link_to 'VIEW', tutorial, class: "btn btn-info btn-sm w-100" %></td>
                <td><%= link_to 'EDIT', edit_tutorial_path(tutorial), class: "btn btn-primary btn-sm w-100" %></td>
                <td><%= link_to 'DESTROY', tutorial, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm w-100" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
<% end %>

<div class="container">
  <div class="row d-flex">
    <% @tutorials.each do |tutorial| %>

      <div class="col m-4">
        <div class="card" style="width: 20rem;">
          <div class="card-body">  
            <p class="fw-bold m-0"><%= tutorial.title %></p>
            <small class="text-uppercase"><%= "#{tutorial.user.name} (#{tutorial.user.department.code})" %></small>
            <%= link_to 'VIEW', tutorial, class: "btn btn-info btn-sm w-100 mt-2" %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>
