<div class="row text-center bg-info m-1">
  <div class="col-lg-10">
    <p class="m-2 fw-bold"><%= @tutorial.title %></p>
  </div>
  <div class="col-lg-2">
    <%= link_to '< Back', tutorials_path, class: "m-1 btn btn-sm btn-secondary"
    %>
  </div>
</div>

<% @videos.each_with_index do |video, index| %>
<button class="collapsible"><%= "#{index+1} ) #{video.title}" %></button>
<div class="content">
  <div class="row">
   
    <div class="col-6">
      <div class="row mt-2">
        <div class="card">
          <div class="card-header fw-bold">Description</div>
          <div class="card-body"><%= video.content %></div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row mt-2">
        <iframe width="560" height="315" src=<%= "https://www.youtube.com/embed/#{video.video_url.split("=")[1]}" %> title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>
<% end %>
