<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tutorial.title %>
</p>


<% @videos.each do |video| %>

  <p>
    <strong>Title:</strong>
    <%= video.title %>
  </p>

  <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    poster=<%= url_for(video.thumbnail) %>
    data-setup="{}"
  >
    <source src=<%= url_for(video.clip) %> type="video/mp4" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>

<% end %>
<%= link_to 'Back', tutorials_path %>
