<p id="notice"><%= notice %></p>

<h1>Regulations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regulations.each do |regulation| %>
      <tr>
        <td><%= regulation.name %></td>
        <td><%= regulation.code %></td>
        <td><%= link_to 'Show', regulation %></td>
        <td><%= link_to 'Edit', edit_regulation_path(regulation) %></td>
        <td><%= link_to 'Destroy', regulation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Regulation', new_regulation_path %>
