<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @regulation.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @regulation.code %>
</p>

<%= link_to 'Edit', edit_regulation_path(@regulation) %> |
<%= link_to 'Back', regulations_path %>
