<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Article title : <%= @article.title %> has been <%= @status %></h1>
    <% if @status == Article::APPROVED %>
      <p>
        <strong>Public Article URL link : </strong>
        <%= link_to @article.title, document_url(@article) %>
      </p>
      <p>
        <strong>Reviewer1:</strong>
        <%= @article.reviewer1&.name %>
      </p>

      <p>
        <strong>Reviewer2:</strong>
        <%= @article.reviewer2&.name %>
      </p>

      <p>
        <strong>Reviewer3:</strong>
        <%= @user.name %>
      </p>
    <% else %>
      <p>
        <strong>Rejected By</strong>
        <%= "#{@user.name} (#{@user.role.name} #{@user.department.code})" %>
      </p>
        <p>
        <strong>Message</strong>
        <%= @message %>
      </p>
    <% end %>
    <p>Have a great day!</p>
  </body>
</html>