<%= form_with(model: document) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.each do |error| %>
          <div class="alert alert-danger" role="alert">
              <%= error.full_message %>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-2">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field mt-2">
    <%= form.label :keywords, class: "form-label" %>
    <%= form.text_field :keywords, class: "form-control" %>
  </div>

  <div class="field mt-2">
    <%= form.label :content, class: "form-label" %>
    <%= form.rich_text_area :content, class: "form-control" %>
  </div>

  <div class="field mt-2">
    <%= form.label :terabox_url, class: "form-label" %>
    <%= form.text_field :terabox_url, class: "form-control" %>
  </div>

  <div class="field d-none">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, :value => current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success mt-4" %>
  </div>
<% end %>
