<%= link_to 'New Document', new_document_path %>

<%= render 'search_form' %>

<h1>your Documents</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Keywords</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td>d<%= document.id %></td>
        <td><%= document.title %></td>
        <td><%= document.keywords %></td>
        <% if current_user.is_student? %>
          <td><%= document.approved_status %></td>
        <% else %>
          <td><%= link_to 'Edit', edit_document_path(document) %></td>
          <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td><%= link_to 'Show', document %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<% if !current_user.is_student? %>

  <h1>Awaiting Review Documents</h1>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Keywords</th>
        <th>Uploaded By</th>
        <th>Approval status</th>
        <th>Reviewer1</th>
        <th>Reviewer2</th>
        <th>Reviewer3</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @review_docs.each do |document| %>
        <tr>
          <td>d<%= document.id %></td>
          <td><%= document.title %></td>
          <td><%= document.keywords %></td>
          <td><%= document.user.name %></td>
          <td><%= document.approved_status %></td>
          <td><%= document.reviewer1&.name %></td>
          <td><%= document.reviewer2&.name  %></td>
          <td><%= document.reviewer3&.name %></td>
          <td><%= link_to 'Show', document %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <h1>Reviewed Documents</h1>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Keywords</th>
        <th>Uploaded By</th>
        <th>Approval status</th>
        <th>Reviewer1</th>
        <th>Reviewer2</th>
        <th>Reviewer3</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @approved_documents.each do |document| %>
        <tr>
          <td>d<%= document.id %></td>
          <td><%= document.title %></td>
          <td><%= document.keywords %></td>
          <td><%= document.user.name %></td>
          <td><%= document.approved_status %></td>
          <td><%= document.reviewer1&.name %></td>
          <td><%= document.reviewer2&.name  %></td>
          <td><%= document.reviewer3&.name %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
<% end %>