<%= render 'search_form' %>

<div class="card mt-4">
  <h2 class="card-header">
    Search Results
  </h2>
  <div class="card-body">
    <div class="table-responsive">

    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Keywords</th>
          <th scope="col">Author</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @documents.each do |document| %>
          <tr>
            <td>D<%= document.id %></td>
            <td><%= document.title %></td>
            <td><%= document.keywords %></td>
            <td><%= "#{document.user.name} (#{document.user.role.name} #{document.user.department.code})" %></td>
            <td><%= link_to 'VIEW', document, class: "btn btn-info btn-sm w-100" %></td>
          </tr>
        <% end %>
      </tbody>

    </table>
    </div>
  </div>
</div>


