<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  
  <%= link_to root_path, class: "navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 p-3" do %>
    <%= image_tag('sea_logo.jpeg', class: "rounded-circle", style: "width: 40px;") %>
    <%= "SEA (SVIT EDU AMP)" %>
  <% end %>

  <div class="w-100 overflow-hidden">
    <%= form_with url: home_search_path, local: true, method: :get do  |f| %>
        <div class="row d-flex justify-content-center">

            <div class="col-10">
                <%= text_field_tag :title, params[:title], :placeholder => "Search", class: "form-control form-control-dark w-100 rounded-0 border-0", required: "required" %>
            </div>

            <div class="col-2">
                <div class="actions">
                    <%= f.submit "Search", class: "btn btn-md btn-success" %>
                </div>
            </div>

        </div>
    <% end %>
  </div>

</header>