<!DOCTYPE html>
<html>
  <head>
    <title>Sea</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container-fluid">
      <div class="row">
          <%= render "layouts/navbar" %>
           <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-5">
            <%= yield %>
          </main>
      </div>
    </div>
   
        <!-- JavaScript Bundle with Popper -->

    <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>

    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight){
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          } 
        });
      }
    </script>

    <script>
      document.querySelectorAll('.comment-form-display').forEach((el) => {
          el.addEventListener('click', (ev) => {
              ev.preventDefault();
              el.nextElementSibling.style = 'display: block;';
          })
      })
    </script>
    
  </body>
</html>
